<!DOCTYPE html>
<html class="poscon">
  <head >
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="main2.css"/>
    <title >Главная</title>
  </head> 
  <body class="poscon flexcol">
    <div id="top" class="flexrow">
      <a id="home" href="https://planetahost.ru"></a>
      <div id="menu" class="flexrow">
	<div class="menu_item">
	  <a class="posel menu_item_text" href="https://planetahost.ru/services/">Услуги</a>
	</div>
	<div class="menu_item">
	  <a class="posel menu_item_text" href="https://planetahost.ru/payment/">Оплата</a>	  
	</div>
	<div class="menu_item">
	  <a class="posel menu_item_text" href="https://planetahost.ru/actions/">Акции</a>
	</div>
	<div class="menu_item">
	  <a class="posel menu_item_text" href="https://planetahost.ru/company/">Компания</a>
	</div>
	<div class="menu_item">
	  <a class="posel menu_item_text" href="https://planetahost.ru/company/">Поддержка</a>
	</div>
	<div class="menu_item">
	  <a class="posel menu_item_text" href="https://planetahost.ru/contacts/">Контакты</a>	 
	</div>
      </div>
      <div id="contact" class="poscon">
	<img id="phone_ico" class="posel" src="ico_phone.png"/>
	<div id="phone_text" class="posel">+7 (495) 641-64-01</div>
	<div id="name_text" class="posel">PlanetaHost.ru</div>
	<div id="social" class="posel flexrow">
	  <a class="soc_el" href="https://vk.com/club144354245">
	    <img src="ico_vk.png"  />
          </a>
	  <a class="soc_el" href="https://www.facebook.com/severplaneta/">
	    <img src="ico_fb.png"  />
          </a>
	  <a class="soc_el" href="https://twitter.com/Planeta_Host">
	    <img src="ico_tw.png"  />
          </a>
	  <a class="soc_el" href="https://plus.google.com/communities/109570302621279546162">
	    <img src="ico_gp.png"  />
          </a>
	  <a class="soc_el" href="https://odnoklassniki.ru/group/52165382897748">
	    <img src="ico_ok.png"  />
          </a>
	</div>
      </div>
    </div>
    <div id="middle" class="flexcol">
      <div class="middle_part flexrow">
	<div id="dedic_con" class="poscon">
	  <div id="dedic_bor" class="posel">   </div>
	  Выделенные серверы
	</div>
	<div id="col_con" class="poscon">
	  <div id="col_bor" class="posel">   </div>
	  Размещение серверов	  
	</div>
	<div id="other_con" class="flexcol">
	  <div id="dom_con" class="poscon">
	    <div id="dom_bor" class="posel"></div>
	    Домены
	  </div>
	  <div id="ssl_con" class="poscon">
	    <div id="ssl_bor" class="posel"></div>
	    SSL сертификаты
	  </div>
	</div>
      </div>
      <div class="middle_part flexrow">
	<div id="vpskvm_con" class="poscon">
	  <div id="vpskvm_bor" class="posel"></div>
	  VDS/VPS KVM
	</div>
	<div id="vpsvz_con" class="poscon">
	  <div id="vpsvz_bor" class="posel"></div>
	  VDS/VPS OpenVZ	  
	</div>
	<div id="shared_con" class="poscon">
	  <div id="shared_bor" class="posel"></div>
	  Виртуальный хостинг	  
	</div>
	<div id="special_con" class="poscon">
	  <div id="special_bor" class="posel">   </div>
	  Акции и предложения
	</div>
      </div>
    </div>
    <div id="bottom" class="poscon">
      <div id="location_text" class="posel">Вы находитесь: Главная страница</div>
    </div>
  </body>
</html>
