html, body {
    margin:0;
    padding:0;
    box-sizing:border-box;
    width:100%;
    height:100%;
    background-color:#ffccf2;
}

.poscon {
    position:relative;    
}

.posel {
    position:absolute;    
}


.flexrow {
    display:flex;
    flex-flow:row;    
}

.flexrowgrid {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
}

.flexcol {
    display:flex;
    flex-flow:column;    
}

.flexcolgrid {
    display:flex;
    flex-flow:column;
    flex-wrap:wrap;
}




@media (min-width:800px) {

    #menu {
	width:100%;
	height:7.5%;
    }

    #logo_con {
	width:1.4cm;
	height:100%;
	background-color:black;
	/* border-radius:10px; */
    }

    #logo_img {
	left:10%;
	top:10%;
	width:80%;	
	height:80%;
    }

    #items {
	flex:7;
	background-color:black;
	/* border-radius:10px; */
	/* background:slateblue; */
    }

    #brief {
	flex:3;
	background-color:black;
	/* border-radius:10px; */
	/* background:grey; */
    }

    #name {
	bottom:2%;
	left:2%;
	font-size:0.7cm;
	color:white;
    }

    #phone_con {
	top:4%;
	left:2%;
	width:50%;
	height:37%;
	/* background:blue; */
    }

    #phone_ico {
	top:2%;
	left:0.5%;
	width:10%;
	height:96%;
    }

    #phone {
	left:13%;
	top:10%;
	color:white;
    }

    #social_con {
	top:10%;
	right:5%;
	width:40%;
	height:80%;
	/* background:blue;	 */
    }

    .mysocial {
	flex:1;
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center;
    }

    #vk {
	background-image:url("ico_vk.png");	
    }

    #fb {
	background-image:url("ico_fb.png");	
    }

    #tw {
	background-image:url("ico_tw.png");
    }

    #gp {
	background-image:url("ico_gp.png");
    }

    #ok {
	background-image:url("ico_ok.png");
    }
    

    #footer {
	left:0;
	bottom:0;
	width:100%;
	height:5%;
	background-color:black;
	/* border-top-left-radius:10px; */
	/* border-top-right-radius:10px; */
    }

    #location {
	left:2%;
	top:30%;
	color:white;	
    }

    #main_services_con {
	left:0;
	top:7.5%;
	height:87.5%;
	width:71%;
	background-color:#ff4dd2;
	/* background-color:grey; */
	/* border-radius:10px; */
    }

    #main_services {
	left:2%;
	top:4%;
	width:96%;
	height:92%;
	background-color:white;
	border-radius:10px;
    }

    #dedicated_con {
	left:1.5%;
	top:5%;
	width:65%;
	height:42%;
	background-color:white;
	border-radius:10px;
    }

    #colocation_con {
	right:1.5%;
	top:5%;
	width:30%;
	height:42%;
	background-color:white;
	border-radius:10px;
    }

    #vds_kvm {
	left:1.5%;
	bottom:4.5%;
	width:30.1%;
	height:42%;
	background-color:white;
	border-radius:10px;
    }

    #vds_openvz {
	left:35%;
	bottom:4.5%;
	width:30.1%;
	height:42%;
	background-color:white;
	border-radius:10px;
    }


    #shared {
    	right:1.5%;
    	bottom:4.5%;
    	width:30.1%;
    	height:42%;
    	background-color:white;
    	border-radius:10px;
    }
    
    .service_name {
	color:white;
    }

    
    #other_services_con {
	right:0;
	top:7.5%;
	height:87.5%;
	width:29%;
	background-color:orange;
	/* border-radius:10px; */
    }

    #domain_con {
	flex:1;
	/* background-color:red; */
	border-top-left-radius:10px;
	border-top-right-radius:10px;
    }

    #ssl_con {
	flex:1;
	/* background-color:green; */
    }

    
    #special_con {
	flex:2;
	/* background-color:blue; */
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;	
    }

    #domain {
	left:5%;
	top:10%;
	width:90%;
	height:80%;
	background-color:white;
	border-radius:10px;
    }

    #ssl {
	left:5%;
	top:10%;
	width:90%;
	height:80%;
	background-color:white;
	border-radius:10px;
    }

    #special {
	left:5%;
	top:5%;
	width:90%;
	height:90%;
	background-color:white;
	border-radius:10px;
    }
    

}


/* @media (max-width:799px) { */


    
/* } */
