<!DOCTYPE html>
<html class="poscon">
  <head >
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="main.css"/>
    <title >Главная</title>
  </head> 
  <body class="poscon">
    <div id="menu" class="flexrow">
      <a id="logo_con" class="poscon" href="https://planetahost.ru">
        <img id="logo_img" class="posel" src="planeta.png"/>
      </a>
      <div id="items" >
        
      </div>
      <div id="brief" class="poscon">
        <div id="name" class="posel">
          PlanetaHost.ru
        </div>
	<div id="phone_con" class="posel">
          <img id="phone_ico" src="ico_phone.png" class="posel"/>
	  <div id="phone" class="posel">+7 (495) 641-64-01</div>
        </div>
	<div id="social_con" class="posel flexrow">
          <a id="vk" class="mysocial" href="https://vk.com/club144354245"></a>
	  <a id="fb" class="mysocial" href="https://www.facebook.com/severplaneta/"></a>
	  <a id="tw" class="mysocial" href="https://twitter.com/Planeta_Host"></a>
	  <a id="gp" class="mysocial" href="https://plus.google.com/communities/109570302621279546162"></a>
	  <a id="ok" class="mysocial" href="http://www.odnoklassniki.ru/group/52165382897748 "></a>
        </div>
      </div>      
    </div>
    <div id="main_services_con" class="posel">
      <div id="dedicated_con" class="posel"></div>
      <div id="colocation_con" class="posel"></div>
      <div id="vds_kvm" class="posel"></div>
      <div id="vds_openvz" class="posel"></div>
      <div id="shared" class="posel"></div>      
    </div>
    <div id="other_services_con" class="posel flexcol">
      <div id="domain_con" class="poscon">
	<div id="domain" class="posel"></div>
      </div>
      <div id="ssl_con" class="poscon">
	<div id="ssl" class="posel"></div>
      </div>
      <div id="special_con" class="poscon">
	<div id="special" class="posel"></div>
      </div>
    </div>    
    <div id="footer" class="posel">
      <div id="location" class="posel"> Вы находитесь: Главная страница </div>
    </div>
  </body>
</html>
