<!DOCTYPE html>
<html >
  <head >
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="main3.css"/>
    <link rel="stylesheet" href="dedicated.css"/>
    <title >Planetahost</title>
  </head>
  <body >
    <div id="menu">
      <a id="logo" href="https://planetahost.ru">
        <img class="image" src="planeta.png"/>
      </a>
    </div>
    <div class="service_divider">
      <div class="service1">
	<div id="dedicated" class="service">
	  <div class="service_title">Выделенные серверы</div>	    	   
	</div>
      </div>
      <div class="service1">
	<div id="vds" class="service">
	  <div class="service_title">VDS</div>
	</div>
      </div>
    </div>
    <div class="service_divider">
      <div class="service1">
        <div id="colocation" class="service">
	  <div class="service_title">Размещение</div>
	</div>
      </div>
      <div class="service2">
        <div id="shared" class="service">
	  <div class="service_title">Виртуальный хостинг</div>
	</div>        
      </div>
      <div class="service1">
        <div id="special" class="service">
	  <div class="service_title">Акции</div>
	</div>        
      </div>
    </div>    
  </body>
</html>
