<!DOCTYPE html>
<html >
  <head >
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="service.css" </link>
    <title >MySite</title>
  </head>
  <body >
    <div class="dedic">
      <div class="servparam">Intel Core I3-4170</div>
      <div class="servparam">2 ядра, 3900 МГц</div>
      <div class="space"></div>
      <div class="memory">8 GB RAM, 3900MHz  DDR4</div>
      <div class="memory"> 2x1000 Гб HDD  </div>
      <div class="space"></div>
      <div class="price">
	<div class="price_head">3600 руб.</div>
	<div class="price_tale">/.мес.</div>	
      </div>
    </div>
  </body>
</html>
