<!DOCTYPE html>
<html >
  <head >
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="test.css"/>
    <title >Тест</title>
  </head>
  <body id="body" class="row">
    <div class="margin" >Left Margin</div>
    <div id="content" class="column">
      <div id="top" class="block">
        Top
      </div>
      <div id="middle" class="block">
	<img id="back" class="blocked" src="ubuntu2.jpg" />
        <div id="greeting" class="text blocked">Hello World!</div>
	Middle
      </div>
      <div id="bottom" class="block">
        Bottom
      </div>
    </div>
    <div class="margin" >Right Margin</div>
  </body>
</html>

