html, body {
    margin:0;
    padding:0;
    box-sizing:border-box;
    width:100%;
    height:100%;
    background-color:#000000;
}

.poscon {
    position:relative;
    border: solid 5px tomato;
}

.posel {
    position:absolute;
    border: solid 5px tomato;
}


.flexrow {
    display:flex;
    flex-flow:row;
    border: solid 5px tomato;
}

.flexcol {
    display:flex;
    flex-flow:column;
    border: solid 5px tomato;
}

@media (min-width:800px) {

#A {
    left:2%;
    top:4%;
    width:47%;
    height:45%;
    background:#ff0000;
}

#B {
    right:2%;
    top:4%;
    width:47%;
    height:45%;
    background:#00ff00;    
}

#C {
    right:2%;
    bottom:4%;
    width:47%;
    height:45%;
    background:#0000ff;
}

#D {
    left:2%;
    bottom:4%;
    width:47%;
    height:45%;
    background:#ffff00;
    overflow:auto;
}

}


@media (max-width:799px) {

#A {
    left:2%;
    top:4%;
    width:96%;
    height:20%;
    min-height:150px;
    background:#ff0000;
}

#B {
    left:2%;
    top:28%;
    width:96%;
    height:20%;
    background:#00ff00;
    /* min-height:150px; */
}

#C {
    left:2%;
    top:52%;
    width:96%;
    height:20%;
    background:#0000ff;
    /* min-height:150px; */
}

#D {
    left:2%;
    top:76%;
    width:96%;
    height:20%;
    background:#ffff00;
    overflow:auto;
    /* min-height:150px; */
}

    
}
