<!DOCTYPE html>
<html >
  <head >
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="test.css"/>
    <title >Тест</title>
  </head>
  <body class="flexcol">
    <div id="bar"></div>
    <div id="services" class="flexcol">
      <div class="half flexrow">
	<div class="service">
	  <div class="sname">Выделенные серверы</div>
	</div>
	<div class="service">
	  <div class="sname">VDS</div>
	</div>
      </div>
      <div class="half flexrow">
	<div class="service">
	  <div class="sname">Размещение серверов</div>
	</div>
	<div class="service">
	  <div class="sname">Виртуальный хостинг</div>
	</div>
	<div class="service flexcol">
	  
	</div> 
	<div class="service">
	  <div class="sname">Акции</div>
	</div>
      </div>
    </div>
  </body>
</html>


