html, body {
    margin:0;
    padding:0;
    position:relative;
    box-sizing:border-box;
    width:100%;
    height:100%;
    background-color:#000000;
}

.posel {
    position:absolute;
}

.poscon {
    position:relative;
}

.flexrow {
    display:flex;
    flex-flow:row;
}

.flexcol {
    display:flex;
    flex-flow:column;
}

#lb {
    width:20%;
    height:20%;
    left:10%;
    bottom:40%;
    background:#ffffff;
}

#rb {
    width:50%;
    height:50%;
    right:10%;
    top:30%;
    background:#0f0fff;
}

#a {
    flex:2;
    background:#ff0000;
}

#b {
    flex:1;
    background:#00ff00;
}

#c {
    width:20%;
    height:20%;
    left:10%;
    bottom:40%;
    background:#ff00ff;
}

#d {
    width:50%;
    height:50%;
    right:10%;
    top:30%;
    background:#00ffff;
}


#e {
    flex:1;
    background:#ff700f;
}

#f {
    flex:1;
    background:#ffff00;
}
