<!DOCTYPE html>
<html >
  <head >
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="test2.css"/>
    <title >Тест2</title>
  </head> 
  <body >
    <div id="left" class="posel flexrow">
      <div id="a"></div>
      <div id="b"></div>
    </div>
    <div id="right" class="posel flexcol">
      <div id="c" class="poscon"></div>
      <div id="d" class="poscon">
	<img id="img" class="posel" src="ubuntu2.jpg" />
	<div id="bottom_text" class="posel">Работает!</div>
      </div>      
    </div>
  </body>
</html>

