<!DOCTYPE html>
<html >
  <head >
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="test.css"/>
    <title >MySite</title>
  </head>
  <body >
    <div id="A">
      <div id="A_text">Audi</div>
    </div>
    <div id="B">
      <div id="B_text">BMW</div>
    </div>
    <div id="C">
      <div id="C_text">Nissan</div>
    </div>
    <div id="D">
      <div id="D_text">Toyota</div>
    </div>
    <div id="E">
      <div id="E_text">KIA</div>
    </div>
    <div id="F">
      <div id="F_text">Ford</div>
    </div>
    <div id="G">
      <div id="G_text">Mercedes-Benz</div>
    </div>        
  </body>
</html>


