<!DOCTYPE html>
<html >
  <head >
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="test2.css"/>
    <title >Тест2</title>
  </head> 
  <body >
    <div id="lb" class="posel">
      
    </div>
    <div id="rb" class="posel flexrow">
      <div id="a" class="poscon">
	<div id="c" class="posel flexrow">
          
        </div>
      </div>
      <div id="b" class="poscon">
	<div id="d" class="posel flexcol">
          <div id="e">
            
          </div>
	  <div id="f">
            
          </div>
        </div>	
      </div>
    </div>
  </body>
</html>

