<!DOCTYPE html>
<html class="poscon">
  <head >
    <meta charset="utf-8"/>
    <link rel="stylesheet" media="(min-width: 800px)" href="test2_desktop.css"/>
    <link rel="stylesheet" media="(max-width: 799px)" href="test2_mobile.css"/>
    <title >Тест2</title>
  </head> 
  <body class="poscon">
    <div id="A" class="posel">
      
    </div>

    <div id="B" class="posel">
      
    </div>

    <div id="C" class="posel">
      
    </div>

    <div id="D" class="posel">

    </div>    
  </body>
</html>

